body {
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  background: url("images/pattern-background-desktop.svg") no-repeat;
  color: hsl(224, 23%, 55%);
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(223, 47%, 23%);
}

.wrapper {
  background-color: #fff;
  width: 25rem;
  margin: 2% 0 0 30%;
  border-radius: 25px;
}

.wrapper-section {
  padding: 0 25px;
  line-height: 2em;
}

a {
  position: relative;
  left: 50px;
  bottom: 15px;
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: hsl(255, 75%, 52%);
}

.btn1:hover {
  background-color: hsl(255, 75%, 52%);
}

.btn2:hover {
  color: black;
}

span {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.music {
  margin-top: 15px;
  float: left;
}

.mid-section p {
  display: inline-block;
  position: relative;
  right: 40px;
  line-height: 1.5;
}

button {
  margin-bottom: 15px;
  width: 20rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: hsl(225, 100%, 98%);
  font-weight: 700;
  border-style: none;
}

.btn1 {
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
}

.btn2 {
  color: hsl(224, 23%, 55%);
  background-color: #fff;
}

.mid-section {
  background-color: hsl(225, 100%, 98%);
  margin: 0 20px 20px;
  border-radius: 20px;
}

.hero {
  width: 25rem;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

@media (max-width: 375px) {
  body {
    background: url("images/pattern-background-mobile.svg") no-repeat;
  }

  .wrapper {
    margin: 2% 2%;
    width: 20rem;
  }

  .hero {
    width: 20rem;
  }

  button {
    width: 15rem;
    height: 2.5rem;
  }

  .mid-section p {
    right: 0;
    left: 10px;
  }

  a {
    left: 20px;
  }
}
